<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://localhost:5000/db">Logs</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Applications <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!-- This list should be generated dynamically by this query >>select distinct application from logs where application not like 'Unknown%'; =>Query to get all applications available-->
            <li>CODAP</li>
            <li>GeniStarDev</li>
            <li>GRASP</li>
            <li>Hasbot-Dashboard</li>
            <li>IS</li>
            <li>LARA-log-poc</li>
            <li>LARA-log-zeus</li>
            <li>TEST</li>
            <li class="divider"></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://concord.org"><span class="glyphicon glyphicon-book"></span> Concord Consortium</a>
      </li>
    </ul>
  </div>
</nav>
